@charset "utf-8";

html {
	height: 100%;
}
body {
	padding: 0;
	text-align: center;
	font-family: 'Open Sans';
	position: relative;
	margin: 0;
	height: 100%;
}
a {
	color: black;
}
.header {
	padding: 30px 0 0;
	float: left;
	width: 100%;
	background:rgb(226, 218, 218);
}
.wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
a {
	text-decoration: none;
}
h1, h2 {
	width: 100%;
	float: left;
}
h1 {
	margin-top: 100px;
	color: rgb(97, 95, 95);
	margin-bottom: 5px;
	font-size: 70px;
	font-weight: 100;
}
h2 {
	padding: 00px 20px 30px 20px;
	box-sizing: border-box;
	letter-spacing: 0px;
	color: rgb(87, 84, 84);
	font-size: 20px;
	line-height: 160%;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 0;
}


.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}
.main h1 {
	padding:20px 50px 10px;
	float: left;
	width: 100%;
	font-size: 60px;
	box-sizing: border-box;
	font-weight: 100;
	margin: 0;
	padding-top: 5px;
	font-family: 'Open Sans';
	letter-spacing: -1px;
	text-transform: capitalize;
}


.back {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: block;
	padding: 7px;
	width: 100%;
	box-sizing: border-box;
	background:#f5f5f5;
	font-weight: bold;
	font-size: 13px;
	color: #888;
	transition: all 5000ms ease-out;
}
.back:hover {
	background: #eee;
}
.page-container {
	max-width: 1010px;
	margin: auto;
	position: relative;
}
.page-container p {
	font-size: 21px;
	font-weight: 100;
	line-height: 180%;
}
.page-container h3 {
	font-family: "noto serif";
	font-size: 23px;
}
.tip {
	display: none;
}
.tc_modal {
	width: 890px;
}
.tc_body .tc_card .tc_inner_card .tc_click_target {
	font-size: 1.25em;
	color: #888;
	line-height: 25px;
	font-weight: 300;
	text-align: left;
	padding: 30px 30px 30px 30px;
}
 .tc_card:nth-child(1n+1) .tc_inner_card {
 border-bottom: 3px solid #1345ED;
}
 .tc_card:nth-child(2n+2) .tc_inner_card {
 border-bottom: 3px solid #03A010;
}
 .tc_card:nth-child(3n+3) .tc_inner_card {
 border-bottom: 3px solid #F8B00F;
}
 .tc_card:nth-child(4n+4) .tc_inner_card {
 border-bottom: 3px solid #DD4330;
}
.tc_back p {
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	padding: 10px 20px 20px;
	margin: 0 0 10px 0;
	color: #8A8C93;
	color: #777;
	letter-spacing: -1.2px;
	font-size: 3.5625em;
	line-height: 72px;
	text-align: left;
}
.tc_inner_modal .tc_front {
	min-height: 300px;
}
.tc_inner_modal .tc_front h1 {
	margin-top: 20px;
	font-size: 32px;
	text-align: left;
	margin-bottom: 35px;
}
.tc_inner_modal .tc_front p {
	text-align: left;
	min-height: 70px;
	font-size: 24px;
	line-height: 180%;
}
.tc_next, .tc_prev {
	line-height: 90%;
}
.tc_inner_modal {
	margin: 40px;
}
.clearfix:after {
	content:""; 
	display: block; 
	clear:both; 
 }
.tc_front img {
	width:525px;
	height:350px;
}